<div class="jumbotron mt-5 text-white" style="background-color: #05396E; padding: 30px;">
    <h1 class="display-5">Registro de nuevo Maestro</h1>
    <p class="lead">Formulario para dar de alta nuevo maestro</p>
    <hr class="my-2">
    <form #grupoForm="ngForm">
        <div class="row">
            <div class="col-lg-7">
                <div class="form-group">
                    <label for="inputMateria">Materia</label>
                    <select [compareWith]="compararMaterias" class="form-control" name="inputMateria" id="inputMateria" [(ngModel)]="temp_grupo.materia">
                        <option [ngValue]="undefined">Seleccione...</option>
                        <option *ngFor="let item of materias" [ngValue]="item">{{item.claveMateria}} - {{item.nombreMateria}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="inputNumeroParticipantes">Cantidad de Alumnos</label>
                    <input type="text" class="form-control" name="inputNumeroParticipantes" [(ngModel)]="temp_grupo.cantidadAlumnos">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-right">
                <button type="button" name="" id="" class="btn btnCancelar" [routerLink]="['/grupos']" style="width: 100%;">Regresar</button>
            </div>
            <div class="col-lg-10 text-right">
                <button role="button" class="btn btnAceptar" style="width: 100%;" (click)="create()" *ngIf="!temp_grupo.id;else tmpUpdate">Finalizar</button>
                <ng-template #tmpUpdate>
                    <button role="button" class="btn btnAceptar" style="width: 100%;">Finalizar</button>
                </ng-template>
            </div>
        </div>
    </form>
</div>


