<div class="jumbotron mt-5 text-white" style="background-color: #05396E; padding: 30px;">
    <h1 class="display-5">Registro de nuevo Maestro</h1>
    <p class="lead">Formulario para dar de alta nuevo maestro</p>
    <hr class="my-2">
    <form>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="inputEstatus">Estatus</label>
                    <select class="form-control" name="inputEstatus" id="inputEstatus">
                        <option *ngFor="let item of estatusUsuario" value={{item.id}}>{{item.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="inputTipo">Tipo</label>
                    <select class="form-control" name="inputTipo" id="inputTipo">
                        <option *ngFor="let item of tipoMaestro" value={{item.id}}>{{item.tipoNombre}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="inputEmpleado">No. Empleado</label>
                    <input type="text" class="form-control" name="inputEmpleado" [(ngModel)]="temp_maestro.numeroEmpleado" [disabled]="this.esModificacion">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    <label for="inputUsuario">Nombre de Usuario</label>
                    <input type="text" class="form-control" name="inputUsuario" [(ngModel)]="temp_maestro.usuario.nombreUsuario">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="inputContrasenia">Contraseña</label>
                    <input type="text" class="form-control" name="inputContrasenia" [(ngModel)]="temp_maestro.usuario.contrasenia">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                  <label for="inputNombre">Nombre</label>
                  <input type="text" class="form-control" name="inputNombre" [(ngModel)]="temp_maestro.usuario.nombre">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                  <label for="inputApPaterno">Apellido Paterno</label>
                  <input type="text" class="form-control" name="inputApPaterno" [(ngModel)]="temp_maestro.usuario.apellidoPaterno">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                  <label for="inputApMaterno">Apellido Materno</label>
                  <input type="text" class="form-control" name="inputApMaterno" [(ngModel)]="temp_maestro.usuario.apellidoMaterno">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 text-right">
                <button type="button" name="" id="" class="btn btnCancelar" [routerLink]="['/maestros']" style="width: 100%;">Regresar</button>
            </div>
            <div class="col-lg-10 text-right">
                <button role="button" class="btn btnAceptar" style="width: 100%;" (click)="create()" *ngIf="!this.esModificacion;else tmpUpdate">Finalizar Registro</button>
                <ng-template #tmpUpdate>
                    <button role="button" class="btn btnAceptar" style="width: 100%;" (click)="update()">Finalizar Modificación</button>
                </ng-template>
            </div>
        </div>
    </form>
</div>


