/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FBC43D !important;
}

.btnAceptar{
    background-color: #028090 !important;
    color: white !important;
}

.btnAceptar:hover{
    background-color: #05668d !important;
    color: white !important;
}

.btnAceptar:disabled{
    background-color: royalblue;
    cursor: not-allowed;
}

.btnCancelar{
   background-color: #FBC43D !important;
   color: white !important;
}

.btnCancelar:hover{
    background-color: #f3722c !important;
    color:white !important;
}

input[type="text"]:disabled{
    color: rgb(143, 143, 143);
}

.errorMsj{
    color:  #FBC43D;
    float: left;
    margin-bottom: 1.5em;
}